<%= content_tag :tr do %>
  <td><%= rushing.player %></td>
  <td><%= rushing.team %></td>
  <td><%= rushing.pos %></td>
  <td><%= rushing.att %></td>
  <td><%= rushing.att_per_game %></td>
  <td><%= rushing.yds %></td>
  <td><%= rushing.avg %></td>
  <td><%= rushing.yds_per_game %></td>
  <td><%= rushing.td %></td>
  <td><%= rushing.lng %></td>
  <td><%= rushing.first %></td>
  <td><%= rushing.first_percentage %></td>
  <td><%= rushing.twenty_plus %></td>
  <td><%= rushing.forty_plus %></td>
  <td><%= rushing.fum %></td>
<% end %>
